<div class="top">
  
  <div class="card card-sm">
    <div class="card-body">
      <div class="img">
        <img src="./assets/images/logo.png" alt="">
        <div id="demo" class="carousel slide" data-ride="carousel">
      
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" ></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/images/corosal1.jpg" alt="Los Angeles" width="700px" height="400px">
            </div>
            <div class="carousel-item">
              <img src="./assets/images/corosal2.jpg" alt="Chicago" width="700px" height="400px">
            </div>
            <div class="carousel-item">
              <img src="./assets/images/corosal3.jpg" alt="New York" width="700px" height="400px">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
      </div>
    </div>

  </div>

</div>


<nav class="navbar navbar-expand-md bg-primary">
  <img src="./assets/images/logo.png" alt="" width="150px" height="50px">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/solutions">SOLUTIONS </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services">SERVICES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/technology">TECHNOLOGY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/careers">CAREERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blog">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contactus">CONTACTUS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about"><i class="fas fa-search"></i></a>
    </li>
  </ul>

</nav>
     


<router-outlet></router-outlet>
<footer class="bg-dark">
  <div class="row">
    <div class="col-sm-3 ">
      <table>
        <h6 >About</h6>
        <tr><a href="">About Us - How we got here</a></tr>
        <tr><a href="">Our Culture</a></tr>
        <tr><a href="">Our Commitment</a></tr>
        <tr><a href="">Who we are</a></tr>
        <tr><a href="">Partners</a></tr>
        <tr><a href="">Certifications</a></tr>
      </table>
      <br><br><br><br><br>
      <table>
        <h6>Technology</h6>
        <tr><a href="">Microsoft Technologies</a></tr>
        <tr><a href="">Java/Open Source</a></tr>
        <tr><a href="">Mobility - Android/IOS</a></tr>
        <tr><a href="">Front-end Technologies</a></tr>
        <tr><a href="">Database</a></tr>
      </table>

    </div>
    <div class="col-sm-3">
      <table>
        <h6>Solutions</h6>
        <tr><a href="">RevaleBiz</a></tr>
        <tr><a href="">Content Management System</a></tr>
        <tr><a href="">e-Office</a></tr>
        <tr><a href="">eCommerce Market Place Solutions</a></tr>
        <tr><a href="">RevalCRM</a></tr>
        <tr><a href="">RevalHRMS</a></tr>
        <tr><a href="">RevalIntra</a></tr>
        <tr><a href="">R-eVents</a></tr>
      </table>
      <br><br>

      <br>
      <h4>Portfolio</h4>
      
      <h4>News</h4>
      
      <h4>Holidays 2021</h4>

    </div>
    <div class="col-sm-3">
      <table>
        <h6 >Services</h6>
        <tr><a href="">Product Engineering</a></tr>
        <tr><a href="">Mobility</a></tr>
        <tr><a href="">Application Development</a></tr>
        <tr><a href="">Web Designing</a></tr>
        <tr><a href="">Web Development</a></tr>
        <tr><a href="">Design Studio</a></tr>
        <tr><a href="">Digital Marketing</a></tr>
        <tr><a href="">Cloud Infrastructure Services</a></tr>
        <tr><a href="">Database Services</a></tr>
        <tr><a href="">Business Process Consulting</a></tr>
      </table>
      <br>
      <h4>Careers</h4>
      <h4>
        Sitemap</h4>
        <h4>Contact Us</h4>

    </div>
    <div class="col-sm-3">
      <table>
        <tr>
        <div class="row">
          <div class="col-sm-1"><a href=""><i class="fab fa-twitter"></i></a></div>
          <div class="col-sm-1"><a href=""><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="col-sm-1"><a href=""><i class="fab fa-linkedin-in"></i></a></div>
          <div class="col-sm-1"><a href=""><i class="fas fa-comment-alt"></i></a></div>
          <div class="col-sm-1"><a href=""><i class="fab fa-pinterest-p"></i></a></div>
          <div class="col-sm-1"><a href=""><i class="fab fa-instagram"></i></a></div>
        </div>
          
        </tr>
        <tr>
          <img src="./assets/images/footer1.png" alt="">
          
        </tr>
        <br>
        
      </table>

    </div>

  </div>
  <div class="ff ">
    <div class="row">
      <div class="col-sm-4">© 2007 - 2021 Revalsys technologies</div>
      <div class="col-sm-4">Contact : +91-7032660301</div>
      <div class="col-sm-4">Mail : Info(@)revalsys(.)com</div>
    </div>
  </div>
</footer>